<div class="container">

<h1>Welcome, human!</h1>
<h2>What would you like to tell the twitterverse?</h2>

<form id='tweet-form' action='/tweet' method="POST">
  <input id='tweet-text' type='text' name='tweet'/ autofocus>
  <input type='submit' value='Tweet it!'/>
</form>

<div class='messages'>
</div>

</div>
